<!DOCTYPE html>
<html lang="<%= config.language %>">
	<head>
		<%- partial('_partial/head') %>
	</head>

	<body>
		<%- partial('_partial/profile') %>
        <%- partial('_partial/nav') %>
        <%- body %>
		<%- partial('_partial/footer') %>
	</body>
</html>
