<div class="container">
	<div class="profile">
		<a class="avatar" href="<%- url_for() %>">
			<img
				alt="<%= theme.title %>"
				src="<%= theme.avatar %>"
			/>
        </a>
		<div class="content">
			<h1 class="name"><%= config.title %></h1>
			<p class="des"><%= config.description %></p>
		</div>
	</div>
</div>
